In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [2]:
pd.__version__

'2.0.0'

In [3]:
import sklearn
sklearn.__version__

'1.2.2'

In [4]:
df = pd.read_csv("TV.csv")
df.shape

(666, 11)

In [5]:
# df.dtypes
df.dtypes.values

array([dtype('O'), dtype('float64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O')], dtype=object)

In [6]:
df.loc[:2, df.dtypes.astype("str").str.contains("[0-9]")]

   Stars  Ratings  Reviews  current_price    MRP
0    4.2     1773      217           7990  20000
1    3.8     6742      930           8699  21999
2    4.4    38870     3443          16499  21990

In [7]:
df.loc[:2, ~df.dtypes.astype("str").str.contains("[0-9]")]

,Product_Name,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Croma,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,1 Year Warranty
1,Adsun,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
2,LG,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate

### Q1.

In [8]:
df.columns

Index(['Product_Name', 'Stars', 'Ratings', 'Reviews', 'current_price', 'MRP',
       'channel', 'Operating_system', 'Picture_quality', 'Speaker',
       'Frequency'],
      dtype='object')

In [9]:
df_q1 = df[["Frequency", "Picture_quality", "Speaker"]].copy()
df_q1.head(2)

            Frequency             Picture_quality              Speaker
0     1 Year Warranty          60 Hz Refresh Rate   2 x HDMI | 2 x USB
1  60 Hz Refresh Rate  HD Ready 1366 x 768 Pixels  20 W Speaker Output

In [11]:
# df_q1["Frequency"].unique()
# ser_u = pd.Series(df_q1["Frequency"].unique())
# ser_u = pd.Series(df_q1["Picture_quality"].unique())
ser_u = pd.Series(df_q1["Speaker"].unique())
# ser_u[ser_u.str.contains("Hz")]
ser_u[ser_u.str.contains("[0-9]{2,3} Hz")]

19     60 Hz Refresh Rate
31     50 Hz Refresh Rate
41    200 Hz Refresh Rate
46    120 Hz Refresh Rate
47    100 Hz Refresh Rate
dtype: object

In [12]:
ser_u.str.contains("Hz").sum()

5

In [13]:
sum(df_q1["Frequency"] == "60 Hz Refresh Rate")

423

In [14]:
df_q1["Hz_1"] = df_q1["Frequency"      ].str.contains("60 Hz") + 0
df_q1["Hz_2"] = df_q1["Picture_quality"].str.contains("60 Hz") + 0
df_q1["Hz_3"] = df_q1["Speaker"        ].str.contains("60 Hz") + 0

In [15]:
df_q1.head(2)

,Frequency,Picture_quality,Speaker,Hz_1,Hz_2,Hz_3
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,0,1,0
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0

In [16]:
df_q1["Hz_cnt"] = df_q1.loc[:, "Hz_1":"Hz_3"].sum(axis = 1)
df_q1.head(2)

,Frequency,Picture_quality,Speaker,Hz_1,Hz_2,Hz_3,Hz_cnt
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,0,1,0,1
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0,1

In [17]:
df_q1["Hz_cnt"].value_counts()

Hz_cnt
1    510
0    156
Name: count, dtype: int64

In [18]:
df_q1["Hz_cnt"].value_counts()[1]

510

In [19]:
df.loc[:, "Picture_quality":].apply(lambda x: x.str.contains("60 Hz").sum(), 
                                    axis = 1).value_counts()[1]

510

### Q2.

In [20]:
df_q2 = df[["Stars", 'channel', 'Operating_system', 'Picture_quality']].copy()
df_q2.head(2)

,Stars,channel,Operating_system,Picture_quality
0,4.2,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate
1,3.8,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels

In [21]:
# ser_u = pd.Series(df_q2["channel"].unique())
# ser_u = pd.Series(df_q2["Operating_system"].unique())
ser_u = pd.Series(df_q2["Picture_quality"].unique())
ser_u[ser_u.str.contains("4K|8K")]

2                      Ultra HD (4K) 3840 x 2160 Pixels
4     Ultra HD (4K) Crystal 4K FE UHD (3840 x 2160) ...
7                        Ultra HD (4K) 3840×2160 Pixels
9                      Ultra HD (4K) 3860 x 2160 Pixels
10                       Ultra HD (4K) 3840X2160 Pixels
12                     Ultra HD (4K) 3840 × 2160 Pixels
13                       Ultra HD (4K) 3840*2160 Pixels
14                       Ultra HD (4K) 3840x2160 Pixels
28                     Ultra HD (8K) 7680 x 4320 Pixels
34                     Ultra HD (4K) 3840 � 2160 Pixels
dtype: object

In [22]:
df_q2["4K_1"] = df_q2["channel"         ].str.contains("4K") + 0
df_q2["4K_2"] = df_q2["Operating_system"].str.contains("4K") + 0
df_q2["4K_3"] = df_q2["Picture_quality" ].str.contains("4K") + 0
df_q2["4K_cnt"] = df_q2["4K_1"] + df_q2["4K_2"] + df_q2["4K_3"]

df_q2["8K_1"] = df_q2["channel"         ].str.contains("8K") + 0
df_q2["8K_2"] = df_q2["Operating_system"].str.contains("8K") + 0
df_q2["8K_3"] = df_q2["Picture_quality" ].str.contains("8K") + 0
df_q2["8K_cnt"] = df_q2["8K_1"] + df_q2["8K_2"] + df_q2["8K_3"]

In [23]:
df_q2.head(1)

,Stars,channel,Operating_system,Picture_quality,4K_1,4K_2,4K_3,4K_cnt,8K_1,8K_2,8K_3,8K_cnt
0,4.2,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,0,0,0,0,0,0,0,0

In [24]:
stat_4K = df_q2.loc[df_q2["4K_cnt"] > 0, "Stars"].mean()
stat_8K = df_q2.loc[df_q2["8K_cnt"] > 0, "Stars"].mean()
stat_4K, stat_8K

(3.2180821917808218, 3.6)

In [25]:
round(abs(stat_4K - stat_8K), 2)

0.38

In [26]:
df_q2.loc[df_q2["channel"] == "4K", ]

Empty DataFrame
Columns: [Stars, channel, Operating_system, Picture_quality, 4K_1, 4K_2, 4K_3, 4K_cnt, 8K_1, 8K_2, 8K_3, 8K_cnt]
Index: []

In [27]:
pd.crosstab(df_q2["4K_cnt"], df_q2["8K_cnt"], values = df_q2["Stars"],
            aggfunc = "mean")

8K_cnt         0    1
4K_cnt
0       3.074333  3.6
1       3.218082  NaN

In [28]:
pd.crosstab(df_q2["4K_cnt"], df_q2["8K_cnt"], values = df_q2["Stars"],
            aggfunc = "mean").values.diagonal()

array([3.07433333,        nan])

### Q3.

In [29]:
df_q3 = df.copy()
df_q3["channel"].str.contains("Pixel|Oper")

0       True
1      False
2      False
3      False
4      False
       ...
661     True
662    False
663     True
664    False
665     True
Name: channel, Length: 666, dtype: bool

In [30]:
df_q3["channel"].unique()[:4]

array(['HD Ready 1366 x 768 Pixels', 'Netflix|Disney+Hotstar|Youtube',
       'Netflix|Prime Video|Disney+Hotstar|Youtube',
       'HD Ready 1366 X 768 Pixels'], dtype=object)

In [31]:
df_q3 = df_q3.loc[~df_q3["channel"].str.contains("Pixel|Oper"), ]
df_q3 = df_q3.reset_index(drop = True)
df_q3.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
1,LG,4.4,38870,3443,16499,21990,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate

In [32]:
df_q3["x1"] = df_q3["Reviews"] / df_q3["Ratings"]
df_q3["x2"] = df_q3["MRP"]
df_q3["x3"] = df_q3["current_price"] / df_q3["MRP"]
df_q3["x4"] = df_q3["channel"].str.contains("Netflix") + 0
df_q3["x5"] = df_q3["channel"].str.contains("Prime Video") + 0
df_q3["x6"] = df_q3["Picture_quality"].str.contains("4K|8K") + 0

In [33]:
df_q3.head(1)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency,x1,x2,x3,x4,x5,x6
0,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate,0.137941,21999,0.395427,1,0,0

In [34]:
df_model = df_q3[["Stars", "x1", "x2", "x3", "x4", "x5", "x6"]]
df_model.head(2)

   Stars        x1     x2        x3  x4  x5  x6
0    3.8  0.137941  21999  0.395427   1   0   0
1    4.4  0.088577  21990  0.750296   1   1   0

In [35]:
len(df_model)

548

In [36]:
df_model.isna().sum()

Stars      0
x1       351
x2         0
x3         0
x4         0
x5         0
x6         0
dtype: int64

In [37]:
df_model = df_model.dropna()
len(df_model)

197

In [38]:
model_rf = RandomForestRegressor(random_state = 123)
model_rf.fit(X = df_model.drop(columns = "Stars"),
             y = df_model["Stars"])

RandomForestRegressor(random_state=123)

In [39]:
model_rf.feature_importances_

array([0.31220617, 0.17383963, 0.4446912 , 0.02714087, 0.02400442,
       0.01811773])

In [40]:
pd.DataFrame([model_rf.feature_importances_],
             columns = df_model.columns[1:])

         x1       x2        x3        x4        x5        x6
0  0.312206  0.17384  0.444691  0.027141  0.024004  0.018118

In [41]:
df_q1 = df[["Frequency", "Picture_quality", "Speaker"]].copy()
df_q1.head(2)

            Frequency             Picture_quality              Speaker
0     1 Year Warranty          60 Hz Refresh Rate   2 x HDMI | 2 x USB
1  60 Hz Refresh Rate  HD Ready 1366 x 768 Pixels  20 W Speaker Output

In [42]:
df_q1.iloc[:2, :3].apply(lambda x: x[x.str.contains("60 Hz")],
                         axis = 1)

            Frequency     Picture_quality
0                 NaN  60 Hz Refresh Rate
1  60 Hz Refresh Rate                 NaN

In [43]:
df_q1.iloc[:2, ].apply(lambda x: x[x.str.contains("60 Hz")].values[0],
                           axis = 1)

0    60 Hz Refresh Rate
1    60 Hz Refresh Rate
dtype: object

In [44]:
df_q1["val"] = df_q1.apply(lambda x: x[x.str.contains("60 Hz")].values,
                           axis = 1)

In [45]:
len(df_q1["val"])

666

In [46]:
len(df_q1["val"].explode())

666

In [47]:
df_q1["val2"] = df_q1["val"].explode()

In [48]:
df_q1.head(10)

,Frequency,Picture_quality,Speaker,val,val2
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,[60 Hz Refresh Rate],60 Hz Refresh Rate
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate
2,50 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,10 W Speaker Output,[],NaN
3,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate
4,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate
5,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate
6,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate
7,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate
8,60 Hz Refresh Rate,Ultra HD (4K) 3840 x 2160 Pixels,20 W Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate
9,60 Hz Refresh Rate,Full HD 1920 x 1080 Pixels,20 W Speaker Output,[60 Hz Refresh Rate],60 Hz Refresh Rate