### 파이썬 기본 객체
* 리스트(list)
* 튜플(tuple)
* 딕셔너리(dictionary)
* 집합(set)

#### 리스트(list)
파이썬에서 가장 기본이 되는 객체이며 보통 2개 이상의 원소를 묶을 때 리스트를 사용함. 향후 딕셔너리의 value, NumPy의 어레이(Array), Pandas 객체 생성 및 색인에 활용됨.

* 생성  
대괄호를 사용하여 생성하며 그 원소는 쉼표로 구분함. 리스트의 원소는 숫자, 문자 뿐만 아니라 리스트 또는 기타 객체도 될 수 있음.
  
  
* 색인  
인덱스는 0부터 시작하며 리스트 객체 뒤에 대괄호를 사용하여 내부의 원소에 접근할 수 있음. 문자열을 다루는 것 처럼 단일 또는 연속된 인덱스에 대응하는 원소를 추출 가능하나 이산수열 인덱스에 대응하는 원소는 한 번에 추출이 불가하고 이 경우 반복문과 조건문을 사용해야함.  
색인에 사용하는 인덱스는 정수만 가능하며 음수의 경우 마지막 원소를 기준으로 상대적으로 얼마나 뒤에 위치하는지를 의미함.  


* 조작  
원소 추가/제거/치환 등 다양한 작업이 가능. 복수 원소의 일괄연산은 불가하며 필요시 반복문 등 제어문을 활용해야함.

In [14]:
[1, 2, 3]

[1, 2, 3]

In [15]:
aa = [100, 200, 300]
aa

[100, 200, 300]

In [16]:
# 연속범위 표기시 왼쪽 생략은 0, 오른쪽 생략은 마지막을 의미
# 연속범위 표기에서 명시된 오른쪽 숫자 -1 의 인덱스 까지 해당
aa[0], aa[1], aa[2], aa[-1], aa[0:2], aa[:2], aa[-2:]

(100, 200, 300, 300, [100, 200], [100, 200], [200, 300])

In [17]:
aa[0] = -1 # 첫 번째 원소를 -1로 치환
aa

[-1, 200, 300]

In [18]:
# 두 번째 원소를 꺼내 500을 더한 후 두 번째 위치에 할당(치환)
aa[1] = aa[1] + 500 
aa

[-1, 700, 300]

dir(aa)  
> 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

In [19]:
aa.remove(300) # 특정 원소 제거
aa

[-1, 700]

In [22]:
max(aa)

In [21]:
aa.remove(max(aa)) # 특정 원소 제거
aa

[-1]

리스트의 여러 메서드는 연산결과를 객체에 재할당 하는 방식으로 작성하지 않음. (ex. .remove(), .sort() 등)

In [28]:
bb = [200, 400]
bb.append(300)
bb.append([300])
bb

In [27]:
cc = [300, 500]
# cc.extend(300) # error!
cc.extend([300])
cc

[300, 500, 300]

In [29]:
[888, 999] + [111, 222]

[888, 999, 111, 222]

In [30]:
[888, 999] * 2

[888, 999, 888, 999]

#### 튜플(tuple)
내부 원소를 수정할 수 없기 때문에 매우 중요한 정보를 취급하는데 주로 사용됨. 직접 튜플을 생성하는 일은 잘 없으며 주로 객체의 shape, 통계 검정 결과에서 볼 수 있음.

* 생성  
소괄호를 사용하여 생성하며 리스트와 비슷하나 한 번 생성한 튜플 객체의 원소를 수정할 수 없음. 단, 튜플의 원소가 튜플이 아닌 객체인 경우 해당 객체의 원소는 수정할 수 있음.  
원소가 하나인 튜플을 생성할 경우 원소 뒤에 쉼표를 붙이지 않으면 소괄호를 수학 연산의 우선순위를 지정하는 소괄호로 인식하여 올바르게 튜플이 생성되지 않음.  
  
  
* 색인  
리스트와 같음  
  
  
* 조작
조작이 필요한 경우 값 연산 이후 해당 값을 기준으로 새로운 튜플을 만듦

In [ ]:
(10, 20, 30)

In [ ]:
(30,)

In [ ]:
tu = (10, 20, 30)
# tu[1] = 999 # Error!

#### 딕셔너리(dictionary)
중괄호를 사용하여 생성하며 키와 값의 쌍으로 구성됨. 하나의 키에 하나의 값이 할당되나 그 값은 원소 또는 객체가 될 수 있다. 향후 Pandas 객체의 생성과 조작에 활용됨.
  
* 생성  
키는 따옴표를 사용한 문자로 지정하며 그 다음에 콜론을 작성하고 콜론 다음에는 값(또는 객체)를 선언함. 그리고 각 키는 쉼표로 구분함  
  
* 색인
한번에 특정 키의 특정 원소에 접근할 수 없으며 어떤 원소에 접근하기 위해서는 반드시 해당 원소와 연결되어있는 키를 통해야 한다.  
  
* 조작
키를 추가하거나 삭제할 수 있으며 키에 연결된 값의 경우 해당 값 또는 객체의 문법을 따름.

In [1]:
dic_1 = {"key1": [333, 444, 555],
         "key2": (100, 200)}
dic_1

{'key1': [333, 444, 555], 'key2': (100, 200)}

In [2]:
dic_1["key1"], dic_1["key1"][0], dic_1["key1"][1:]

([333, 444, 555], 333, [444, 555])

In [3]:
dic_1["key1"][0] = -999
dic_1["key1"]

[-999, 444, 555]

In [4]:
dic_1.keys()

dict_keys(['key1', 'key2'])

#### 집합(set)
리스트와 튜플과 그 모양이 비슷하나 딕셔너리처럼 키는 없음. 집합의 성질대로 중복된 원소는 허용하지 않음.

* 생성  
중괄호를 사용하여 생성하며 원소의 구분은 쉼표로 함. 다른 객체와 달리 중첩을 허용하지 않음(unhashable). 즉, 원소에 리스트나 집합 같은 객체가 올 수 없음. 생성시 중복된 원소가 있다면 자동으로 중복 제거가 됨.  
  
  
* 색인
???  
  
  
* 조작
합집합, 차집합 등 각종 집합 연산을 연산자와 메서드를 사용하여 수행가능.

In [49]:
{100, 200, 300}

In [52]:
set_1 = {111, 222, 333}
set_2 = {111, 2, 3}

In [57]:
set_1.union(set_2), set_1 - set_2, set_1 & set_2

({2, 3, 111, 222, 333}, {222, 333}, {111})

### 함수를 활용한 기본 객체의 생성과 조작

In [63]:
list([1, 2, 3]), list({1, 2, 3})

In [64]:
tuple([1, 2, 3])

In [66]:
dict(aa = [1, 2], bb = [3, 4, 5])

In [65]:
set([1, 2, 3])

{1, 2, 3}

In [67]:
set([1, 1, 3, 3, 5])

{1, 3, 5}

In [68]:
len([1, 2, 3]) # length의 len을 따온 것으로 원소의 개수를 세어줌.

3

In [69]:
# 중복 제거 후 남은 원소의 개수
len(set([1, 1, 3, 3, 5])) # Pandas Series의 .nunique() 와 같음

3

In [70]:
sum([3, 4, 5])

12