In [1]:
import pandas as pd

In [2]:
ser1 = pd.Series(["2022-10-29", "2022-10-30"])
ser1

0    2022-10-29
1    2022-10-30
dtype: object

상기 데이터는 표준 시간형식으로 보이나 데이터 형식이 "object"로 문자열로 취급됨

In [3]:
ser1 + "@"

0    2022-10-29@
1    2022-10-30@
dtype: object

Pandas에서 날짜 형식으로의 변환을 지원하는 함수는 to_datetime() 이다.

In [4]:
ser1_date = pd.to_datetime(ser1)
ser1_date

0   2022-10-29
1   2022-10-30
dtype: datetime64[ns]

to_datetime() 함수는 표준 형식(YYYY:mm:dd HH:MM:SS) 또는 그와 유사한 형식이 입력될 경우 시간 데이터 형식으로 데이터를 바꿔줌. 그리고 시간 데이터로 구성된 Pandas Series 객체는 .dt 접근자(accessor)를 사용할 수 있으며 해당 접근자에는 시간 데이터를 다루는 다양한 어트리뷰트 또는 메서드가 내장되어 있다.

In [5]:
ser1_date.dt.year

0    2022
1    2022
dtype: int64

In [6]:
ser1_date.dt.month

0    10
1    10
dtype: int64

In [7]:
ser1_date.dt.day

0    29
1    30
dtype: int64

In [8]:
ser1_date.dt.hour

0    0
1    0
dtype: int64

In [9]:
ser1_date.dt.minute

0    0
1    0
dtype: int64

In [10]:
ser1_date.dt.second

0    0
1    0
dtype: int64

In [11]:
ser1_date.dt.weekday # 0이 월요일, 6이 일요일

0    5
1    6
dtype: int64

In [12]:
ser1_date.dt.strftime("%Y-%m")

0    2022-10
1    2022-10
dtype: object

In [13]:
ser1_date.dt.strftime("%Y년 %m월")

0    2022년 10월
1    2022년 10월
dtype: object

In [14]:
ser2 = pd.Series(["2022년 10월 29일 15시 24분 30초",
                  "2022년 10월 29일 17시 30분 00초"])
ser2

0    2022년 10월 29일 15시 24분 30초
1    2022년 10월 29일 17시 30분 00초
dtype: object

In [15]:
ser2_dt = pd.to_datetime(ser2, 
                         format = "%Y년 %m월 %d일 %H시 %M분 %S초")
ser2_dt

0   2022-10-29 15:24:30
1   2022-10-29 17:30:00
dtype: datetime64[ns]

In [16]:
ser2_dt.diff().dt.seconds / 60

0      NaN
1    125.5
dtype: float64

In [29]:
ser3 = pd.Series([40001, 50000, 60000])
ser3_date1 = pd.to_datetime(ser3)
ser3_date1

0   1970-01-01 00:00:00.000040001
1   1970-01-01 00:00:00.000050000
2   1970-01-01 00:00:00.000060000
dtype: datetime64[ns]

In [30]:
ser3_date2 = pd.to_datetime(ser3, origin = "1900-01-01")
ser3_date2

0   1900-01-01 00:00:00.000040001
1   1900-01-01 00:00:00.000050000
2   1900-01-01 00:00:00.000060000
dtype: datetime64[ns]

In [31]:
ser3_date3 = pd.to_datetime(ser3, origin = "1900-01-01", unit = "D")
ser3_date3

0   2009-07-09
1   2036-11-23
2   2064-04-10
dtype: datetime64[ns]