In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"지점": ["A", "A", "B", "B"],
                   "상품": ["P1", "P2", "P1", "P2"],
                   "Q1": [112, 134, 156, 178],
                   "Q2": [212, 234, 256, 278],
                   "Q3": [312, 334, 356, 378],
                   "Q4": [412, 434, 456, 478]})
df

  지점  상품   Q1   Q2   Q3   Q4
0  A  P1  112  212  312  412
1  A  P2  134  234  334  434
2  B  P1  156  256  356  456
3  B  P2  178  278  378  478

정렬은 크게 인덱스 기준, 값 기준이 있으며 DataFrame의 경우 변수별 별도의 방법으로 정렬할 수 있음. 정렬 방법으로는 오름차순(ascending)과 내림차순(descending)이 있음

* .sort_index(): 인덱스 기반의 정렬
* .sort_values(): 값(또는 변수) 기반의 정렬

.sort_index()의 경우 그래프를 그리기 전이나 시계열 분해(timeseries decomposition) 등 인덱스 정렬이 필요한 특수한 경우 이외에 잘 사용하지 않음.

In [4]:
df.sort_index(ascending = False) # 인덱스 기반 내림차순 정렬

  지점  상품   Q1   Q2   Q3   Q4
3  B  P2  178  278  378  478
2  B  P1  156  256  356  456
1  A  P2  134  234  334  434
0  A  P1  112  212  312  412

In [6]:
df.sort_values("Q1", ascending = False) # Q1 변수 기반 내림차순 정렬

  지점  상품   Q1   Q2   Q3   Q4
3  B  P2  178  278  378  478
2  B  P1  156  256  356  456
1  A  P2  134  234  334  434
0  A  P1  112  212  312  412

정렬 관련 메서드는 다중 인덱스 또는 변수를 지정하여 각각 오름차순과 내림차순을 지정할 수 있음. 역시나 다른 함수 또는 메서드와 같이 다중 값을 하나의 인자에 할당하기 위해 list 객체를 활용함

In [ ]:
df.sort_values(["지점", "Q1"])

In [7]:
# "지점"별 "Q1"변수를 정렬하며, "지점"변수는 오름차순, "Q1"변수는 내림차순 정렬
df.sort_values(["지점", "Q1"], ascending = [True, False])

  지점  상품   Q1   Q2   Q3   Q4
1  A  P2  134  234  334  434
0  A  P1  112  212  312  412
3  B  P2  178  278  378  478
2  B  P1  156  256  356  456